.jumbo-image{
    height: 100vh;
    background-image: url('../Asset/images/landingHome1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
nav{
    background: rgba(0, 0, 0, 0.7);
}
.half-screen{
    height: 60vh;
}
footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: lightgray;
    
}