.jumbo-image {
    height: 100vh;
    background-image: url('../Asset/images/landingHome1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.transparent {
    background: rgba(0, 0, 0, 0.7);
}

.half-screen {
    height: 60vh;
}

#btn_shopnow:hover {
    cursor: pointer;
    transform: translate(0, 15px);
    transition: 0.2s;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.bungkus {
    display: flex;
    align-items: center;
    height: 348px;
    width: 100%;
    background-color: lightgray;
}

.bungkus img {
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
}